*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Rubik, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-\[-30px\] {
  bottom: -30px;
}

.left-0 {
  left: 0px;
}

.right-\[0px\] {
  right: 0px;
}

.right-\[20px\] {
  right: 20px;
}

.right-\[30px\] {
  right: 30px;
}

.top-0 {
  top: 0px;
}

.top-\[20px\] {
  top: 20px;
}

.top-\[30px\] {
  top: 30px;
}

.z-\[1000\] {
  z-index: 1000;
}

.z-\[888\] {
  z-index: 888;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[10px\] {
  height: 10px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[350px\] {
  height: 350px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[8px\] {
  height: 8px;
}

.w-\[10px\] {
  width: 10px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[8px\] {
  width: 8px;
}

.w-full {
  width: 100%;
}

.w-\[\] {
  width: ;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[25px\] {
  width: 25px;
}

.table-auto {
  table-layout: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-\[2fr_1fr_2fr_1fr\] {
  grid-template-columns: 2fr 1fr 2fr 1fr;
}

.grid-cols-\[\] {
  grid-template-columns: ;
}

.grid-cols-\[2\] {
  grid-template-columns: 2;
}

.grid-cols-\[2fr\] {
  grid-template-columns: 2fr;
}

.grid-cols-\[2fr_\] {
  grid-template-columns: 2fr;
}

.grid-cols-\[2fr_3fr_1fr_1fr_1fr\] {
  grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
}

.grid-cols-\[\'2fr\'_3fr_1fr_1fr_1fr\] {
  grid-template-columns: '2fr' 3fr 1fr 1fr 1fr;
}

.grid-cols-\[\'2fr\'_3fr_1fr_1fr_\'1fr\'\] {
  grid-template-columns: '2fr' 3fr 1fr 1fr '1fr';
}

.grid-cols-\[\'2fr\'_3fr_1fr_\'1fr\'_\'1fr\'\] {
  grid-template-columns: '2fr' 3fr 1fr '1fr' '1fr';
}

.grid-cols-\[\'2fr\'_3fr_\'1fr\'_\'1fr\'_\'1fr\'\] {
  grid-template-columns: '2fr' 3fr '1fr' '1fr' '1fr';
}

.grid-cols-\[\'2fr\'_\'3fr\'_\'1fr\'_\'1fr\'_\'1fr\'\] {
  grid-template-columns: '2fr' '3fr' '1fr' '1fr' '1fr';
}

.grid-cols-\[1fr\] {
  grid-template-columns: 1fr;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-\[1fr_3fr_1fr_1fr_1fr\] {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.grid-cols-\[1fr_2fr_1fr_1fr_1fr\] {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.grid-cols-\[1fr_2fr_1fr_1fr_2fr\] {
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
}

.grid-cols-\[1fr_2fr_1fr_1fr_1\.5fr\] {
  grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[12px\] {
  gap: 12px;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[25px\] {
  gap: 25px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[3px\] {
  gap: 3px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[px\] {
  gap: px;
}

.gap-\[\] {
  gap: ;
}

.gap-\[1px\] {
  gap: 1px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-\[\#0059ff13\] {
  border-color: #0059ff13;
}

.border-\[\#e3e3e3\] {
  --tw-border-opacity: 1;
  border-color: rgb(227 227 227 / var(--tw-border-opacity, 1));
}

.bg-\[\#0000003f\] {
  background-color: #0000003f;
}

.bg-\[\#0a32a052\] {
  background-color: #0a32a052;
}

.bg-\[\#ebebeb\] {
  --tw-bg-opacity: 1;
  background-color: rgb(235 235 235 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f8f8f9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 249 / var(--tw-bg-opacity, 1));
}

.bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(0 88 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-\[\#00000014\] {
  background-color: #00000014;
}

.bg-\[\#00000009\] {
  background-color: #00000009;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[15px\] {
  padding: 15px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[35px_0_100px_0px\] {
  padding: 35px 0 100px 0px;
}

.p-\[45px\] {
  padding: 45px;
}

.px-\[13px\] {
  padding-left: 13px;
  padding-right: 13px;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.pr-\[120px\] {
  padding-right: 120px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[45px\] {
  font-size: 45px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[12px\] {
  font-size: 12px;
}

.font-\[400\] {
  font-weight: 400;
}

.font-\[500\] {
  font-weight: 500;
}

.font-\[600\] {
  font-weight: 600;
}

.leading-\[100\%\] {
  line-height: 100%;
}

.leading-\[120\%\] {
  line-height: 120%;
}

.leading-\[140\%\] {
  line-height: 140%;
}

.text-\[\#000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#19191b\] {
  --tw-text-opacity: 1;
  color: rgb(25 25 27 / var(--tw-text-opacity, 1));
}

.text-\[\#222\] {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.text-\[\#5f5f66\] {
  --tw-text-opacity: 1;
  color: rgb(95 95 102 / var(--tw-text-opacity, 1));
}

.text-\[\#F0C015\] {
  --tw-text-opacity: 1;
  color: rgb(240 192 21 / var(--tw-text-opacity, 1));
}

.text-\[\#fff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(0 88 255 / var(--tw-text-opacity, 1));
}

.text-\[\] {
  color: ;
}

.text-\[green\] {
  --tw-text-opacity: 1;
  color: rgb(0 128 0 / var(--tw-text-opacity, 1));
}

.text-\[red\] {
  --tw-text-opacity: 1;
  color: rgb(255 0 0 / var(--tw-text-opacity, 1));
}

.text-\[yellow\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 0 / var(--tw-text-opacity, 1));
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-80 {
  opacity: 0.8;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.backdrop-blur-\[6px\] {
  --tw-backdrop-blur: blur(6px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1d4ed8;
  border-radius: 3px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .2s;
}

.container2 {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .container2 {
    width: 1350px;
  }
}

.btn {
  padding: 9px 24px;
  background: #1d4ed8;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  border: 1px solid #1d4ed8;
  text-align: center;
}

.btn_white {
  border-color: #1d4ed8;
  background: #fff !important;
  color: #1d4ed8;
}

.btn:hover {
  background: #0a32a0;
}

.btn_white:hover {
  background: #1d4fd811 !important;
}

.btn:active {
  transform: scale(.90);
}

.btn-banner:hover {
  background: #fff !important;
}

header {
  box-shadow: 0 4px 20px 0 rgba(232, 232, 232, 0.61);
}

#nav:checked + ul {
  left: 0%;
}

#nav:checked ~ #blue_label {
  display: block;
}

footer ul li:hover a {
  color: #1d4ed8;
}

footer ul li:hover {
  transform: translateX(5px);
}

.login {
  display: none;
}

#log:checked + .login {
  display: flex;
}

.hover\:bg-\[\#fff\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:bg-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 88 255 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[\#0058ff\]:hover {
  --tw-text-opacity: 1;
  color: rgb(0 88 255 / var(--tw-text-opacity, 1));
}

.hover\:text-\[\#fff\]:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(0 88 255 / var(--tw-text-opacity, 1));
}

.active\:scale-\[\.90\]:active {
  --tw-scale-x: .90;
  --tw-scale-y: .90;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (max-width: 1225px) {
  .max-\[1225px\]\:w-\[40\%\] {
    width: 40%;
  }

  .max-\[1225px\]\:text-\[35px\] {
    font-size: 35px;
  }
}

@media (max-width: 1166px) {
  .max-\[1166px\]\:h-\[170px\] {
    height: 170px;
  }
}

@media (max-width: 1090px) {
  .max-\[1090px\]\:h-\[300px\] {
    height: 300px;
  }
}

@media (max-width: 1070px) {
  .max-\[1070px\]\:w-full {
    width: 100%;
  }

  .max-\[1070px\]\:flex-col {
    flex-direction: column;
  }

  .max-\[1070px\]\:gap-\[15px\] {
    gap: 15px;
  }
}

@media (max-width: 1032px) {
  .max-\[1032px\]\:pr-\[15px\] {
    padding-right: 15px;
  }
}

@media (max-width: 1026px) {
  .max-\[1026px\]\:w-\[2000px\] {
    width: 2000px;
  }

  .max-\[1026px\]\:w-\[100px\] {
    width: 100px;
  }

  .max-\[1026px\]\:w-\[1000px\] {
    width: 1000px;
  }

  .max-\[1026px\]\:overflow-x-scroll {
    overflow-x: scroll;
  }
}

@media (max-width: 1020px) {
  .max-\[1020px\]\:h-\[150px\] {
    height: 150px;
  }
}

@media (max-width: 1015px) {
  .max-\[1015px\]\:text-\[14px\] {
    font-size: 14px;
  }

  .max-\[1015px\]\:text-\[28px\] {
    font-size: 28px;
  }
}

@media (max-width: 1005px) {
  .max-\[1005px\]\:w-\[60\%\] {
    width: 60%;
  }
}

@media (max-width: 925px) {
  .max-\[925px\]\:h-\[250px\] {
    height: 250px;
  }

  .max-\[925px\]\:text-\[30px\] {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .max-\[900px\]\:fixed {
    position: fixed;
  }

  .max-\[900px\]\:bottom-0 {
    bottom: 0px;
  }

  .max-\[900px\]\:left-\[-100\%\] {
    left: -100%;
  }

  .max-\[900px\]\:z-\[999\] {
    z-index: 999;
  }

  .max-\[900px\]\:order-2 {
    order: 2;
  }

  .max-\[900px\]\:order-3 {
    order: 3;
  }

  .max-\[900px\]\:order-4 {
    order: 4;
  }

  .max-\[900px\]\:block {
    display: block;
  }

  .max-\[900px\]\:h-\[100vh\] {
    height: 100vh;
  }

  .max-\[900px\]\:w-\[50\%\] {
    width: 50%;
  }

  .max-\[900px\]\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .max-\[900px\]\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .max-\[900px\]\:flex-col {
    flex-direction: column;
  }

  .max-\[900px\]\:gap-\[40px\] {
    gap: 40px;
  }

  .max-\[900px\]\:bg-\[\#1d4ed8\] {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
  }

  .max-\[900px\]\:text-\[\#fff\] {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }

  .max-\[900px\]\:hover\:text-\[\#fff\]:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }
}

@media (max-width: 830px) {
  .max-\[830px\]\:block {
    display: block;
  }

  .max-\[830px\]\:hidden {
    display: none;
  }

  .max-\[830px\]\:w-\[70\%\] {
    width: 70%;
  }

  .max-\[830px\]\:flex-col {
    flex-direction: column;
  }

  .max-\[830px\]\:items-center {
    align-items: center;
  }

  .max-\[830px\]\:justify-center {
    justify-content: center;
  }

  .max-\[830px\]\:text-center {
    text-align: center;
  }
}

@media (max-width: 790px) {
  .max-\[790px\]\:h-\[200px\] {
    height: 200px;
  }
}

@media (max-width: 750px) {
  .max-\[750px\]\:absolute {
    position: absolute;
  }

  .max-\[750px\]\:rounded-none {
    border-radius: 0px;
  }

  .max-\[750px\]\:p-0 {
    padding: 0px;
  }

  .max-\[750px\]\:py-\[30px\] {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .max-\[650px\]\:w-\[80\%\] {
    width: 80%;
  }
}

@media (max-width: 630px) {
  .max-\[630px\]\:hidden {
    display: none;
  }

  .max-\[630px\]\:w-\[60\%\] {
    width: 60%;
  }

  .max-\[630px\]\:text-\[13px\] {
    font-size: 13px;
  }

  .max-\[630px\]\:text-\[20px\] {
    font-size: 20px;
  }

  .max-\[630px\]\:text-\[24px\] {
    font-size: 24px;
  }
}

@media (max-width: 620px) {
  .max-\[620px\]\:flex {
    display: flex;
  }

  .max-\[620px\]\:flex-col {
    flex-direction: column;
  }
}

@media (max-width: 605px) {
  .max-\[605px\]\:hidden {
    display: none;
  }
}

@media (max-width: 600px) {
  .max-\[600px\]\:block {
    display: block;
  }

  .max-\[600px\]\:hidden {
    display: none;
  }
}

@media (max-width: 560px) {
  .max-\[560px\]\:text-\[25px\] {
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  .max-\[550px\]\:w-\[\] {
    width: ;
  }

  .max-\[550px\]\:w-\[80\] {
    width: 80;
  }

  .max-\[550px\]\:w-\[80\%\] {
    width: 80%;
  }

  .max-\[550px\]\:gap-\[10px\] {
    gap: 10px;
  }
}

@media (max-width: 540px) {
  .max-\[540px\]\:w-\[70\%\] {
    width: 70%;
  }
}

@media (max-width: 530px) {
  .max-\[530px\]\:h-\[150px\] {
    height: 150px;
  }
}

@media (max-width: 500px) {
  .max-\[500px\]\:h-\[130px\] {
    height: 130px;
  }
}

@media (max-width: 490px) {
  .max-\[490px\]\:w-\[90\%\] {
    width: 90%;
  }

  .max-\[490px\]\:text-\[12px\] {
    font-size: 12px;
  }

  .max-\[490px\]\:text-\[18px\] {
    font-size: 18px;
  }
}

@media (max-width: 475px) {
  .max-\[475px\]\:hidden {
    display: none;
  }

  .max-\[475px\]\:w-full {
    width: 100%;
  }

  .max-\[475px\]\:items-center {
    align-items: center;
  }

  .max-\[475px\]\:text-center {
    text-align: center;
  }
}

@media (max-width: 470px) {
  .max-\[470px\]\:text-\[14px\] {
    font-size: 14px;
  }
}

@media (max-width: 440px) {
  .max-\[440px\]\:w-full {
    width: 100%;
  }
}

@media (max-width: 435px) {
  .max-\[435px\]\:h-\[110px\] {
    height: 110px;
  }

  .max-\[435px\]\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .max-\[435px\]\:gap-\[20px\] {
    gap: 20px;
  }
}

@media (max-width: 395px) {
  .max-\[395px\]\:h-full {
    height: 100%;
  }

  .max-\[395px\]\:w-\[100\%\] {
    width: 100%;
  }

  .max-\[395px\]\:w-\[90\%\] {
    width: 90%;
  }
}

@media (max-width: 380px) {
  .max-\[380px\]\:text-\[12px\] {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .max-\[375px\]\:text-\[20px\] {
    font-size: 20px;
  }
}

@media (max-width: 370px) {
  .max-\[370px\]\:text-\[13px\] {
    font-size: 13px;
  }
}

@media (max-width: 355px) {
  .max-\[355px\]\:block {
    display: block;
  }

  .max-\[355px\]\:hidden {
    display: none;
  }
}

@media (max-width: 350px) {
  .max-\[350px\]\:w-\[80\%\] {
    width: 80%;
  }
}

@media (max-width: 340px) {
  .max-\[340px\]\:h-\[30px\] {
    height: 30px;
  }

  .max-\[340px\]\:w-\[30px\] {
    width: 30px;
  }

  .max-\[340px\]\:gap-\[15px\] {
    gap: 15px;
  }

  .max-\[340px\]\:text-\[13px\] {
    font-size: 13px;
  }
}

@media (max-width: 330px) {
  .max-\[330px\]\:text-\[14px\] {
    font-size: 14px;
  }
}

@media (max-width: 326px) {
  .max-\[326px\]\:text-\[16px\] {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  .max-\[300px\]\:text-\[13px\] {
    font-size: 13px;
  }

  .max-\[300px\]\:text-\[3px\] {
    font-size: 3px;
  }

  .max-\[300px\]\:text-\[12px\] {
    font-size: 12px;
  }

  .max-\[300px\]\:text-\[\] {
    color: ;
  }
}

@media (max-width: 280px) {
  .max-\[280px\]\:text-\[10px\] {
    font-size: 10px;
  }
}